.icnt {
        background: url('http://i.imgur.com/07hH844.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        
}


#cdr{
     align-content: center;
     vertical-align: center;
     margin-top:100px;
}
#dv{
    align-content: center;
     vertical-align: center;
     margin-top:200px;

}
#hdr{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 30px;
}
